/* All */
    /*dqwfqwgf*/
    *{
        padding: 0;
        margin: 0%;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }

/* Page */
    .page{
        background-color: #F5FAFD;
    }

/* Navbar */
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
    }
    nav span{
        font-size: 12pt;
    }
    .note{
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-bottom: 3px solid rgb(224, 161, 161);
    }
    .note .opts span{
        margin-right: 40px;
    }

/* Header home page */
    .header_nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0.041),rgba(0, 0, 0, 0.452)),url(../img/img-header.png) fixed #444 left top;
        width: 100%;
        height: 800px;
        border-bottom: 5px;
        border-bottom-style: solid;
        border-color: rgb(224, 161, 161);
    }

/* Header Title */
    .title_page{

    }
    .title{
        color: white;
        text-align: center;
    }

/* btns_home_action */
    .btns_home_action{
        margin-top: 60px;
        text-align: center;
    }
    .btn_grup_home{
        padding: 10px;
        background-color: rgb(28, 164, 255);
        border-radius: 10px;
        text-decoration: none;
        color: white;
        font-size: 13pt;
        margin-right: 100px;
        transition: background-color 400ms;
    }
    .btn_grup_home:hover{
        background-color: rgb(25, 134, 206);
    }
    .btn_grup_home02{
        padding: 10px 25px 10px 25px;
        background-color: rgb(1, 139, 20);
        border-radius: 20px;
        text-decoration: none;
        color: white;
        font-size: 13pt;
        transition: background-color 400ms;
    }
    .btn_grup_home02:hover{
        background-color: rgb(0, 83, 11);
    }

/***********************************
******** 2 parte (Serviços) ********
***********************************/

/* about me */
    .services{
        background-color: #F5FAFD;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    
    /* limite de margin */
    .container-services {
        margin-top: -100px;
        width: 960px;
        padding: 0;
        /* display: flex; */
    }

/* container services conteudos */
    .services_conteudos{
        display: flex;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
    }
    .img_area_service{
        text-align: center;
    }
    .img_service{
        width: 50px;
    }
    .desc_area_service{
        text-align: center;
    }
    .card_service01{
        background-color: white;
        width: 100%;
        padding: 50px;
        border-right: 1px;
        border-right-style: solid;
        border-color: rgb(221, 221, 221);
    }
    .card_service02{
        background-color: white;
        width: 100%;
        padding: 50px;
        border-right: 1px;
        border-right-style: solid;
        border-color: rgb(221, 221, 221);
    }
    .card_service03{
        background-color: white;
        width: 100%;
        padding: 50px;
        border-right: 1px;
        border-right-style: solid;
        border-color: rgb(221, 221, 221);
    }
    /* Btn services (agendar uma consulta)  */
        .input_div_services{
            margin-top: 50px;
            text-align: center;
        }
        .input_grup_services{
            padding: 10px;
            box-sizing: initial;
            font-size: 13pt;
            border-radius: 10px;
            border: none;
            background-color: rgb(28, 164, 255);
            color: white;
        }
        .btn_grup_services{
            padding: 10px;
            background-color: rgb(28, 164, 255);
            border-radius: 10px;
            text-decoration: none;
            color: white;
            font-size: 13pt;
            transition: background-color 400ms;
        }
        .btn_grup_services:hover{
            background-color: rgb(25, 134, 206);
        }

/* title desc of services conteudos */
    .tile_area_service{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .title_service{
        text-align: center;
    }
    .desc_service{
        color: rgb(70, 112, 127);
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
    }

/***********************************
******** 3 parte (Quem sou) ********
***********************************/
    .about{
        padding-top: 100px;
        padding-bottom: 150px;
        background-color: white;
    }
    .title_page_about{
        text-align: center;
        margin-bottom: 40px;
        font-family: monospace;
    }

    .container{
        width: 960px;
        margin: 0 auto;
        padding: 0;
        display: flex;
    }
/* container about_conteudo */
    .about_conteudo{
        width: 100%;
        display: flex;
    }

    /* colum_img_about */
        .colum_img_about{
            margin-left: -50px;
            margin-top: 10px;
        }
        .background_img_about{
            text-align: center;
            width: 332px;
            background-color: rgba(28, 164, 255, 0.397);
            border-radius: 10px;
            padding: 6px 3px 3px 3px;
            
        }
        .img_me_about{
            width: 320px;
            border-radius: 10px;
        }

    /* colum_desc_about */
        .colum_desc_about{
            width: 100%;
            height: 350px;
            box-shadow: 1px 1px 10px rgba(97, 97, 97, 0.438);
            border-radius: 10px;
        }
        .background_desc_about{
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            
        }
        .title_about{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            color: black;
        }
        .sub_title_about{
            text-align: center;
            font: inherit;
            font-size: 20pt;
            color: #555;
            margin: 5px 0px 20px 0px;
        }
        .desc_about{
            color: rgb(70, 112, 127);
            font-size: 14pt;
        }

/***********************************
******** 4 parte (Contato) ********
***********************************/
    .contact{
        padding-top: 50px;
        padding-bottom: 100px;
        background-color: #F5FAFD;
    }
        /* container_form */
            .container_form{
                width: 1280px;
                margin: 0 auto;
                padding: 0;
                display: flex;
            }
            .grup_form_contact{
                display: flex;
                width: 100%;
                padding: 30px;
                border-radius: 10px;
            }
        /* config form  */
            .options_contact{
                width: 30%;
                padding: 20px;
                background-color: rgb(28, 164, 255);
                border-radius: 10px 0px 0px 10px;
            }
            .options_contact img{
                width: 40px;
            }
            .options_contact .opts{
                display: flex;
                align-items: center;
                color: white;
                margin-bottom: 20px;
            }
            .options_contact .opts span{
                margin-left: 15px;
            }
            .location{
                width: 100%;
                margin-top: 80px;
            }
            .location .btns{
                display: flex;
                border-radius: 10px 10px 0px 0px;
                overflow-x: hidden;
            }
            .location button{
                width: 100%;
                border: none;
                padding: 10px;
                background-color: white;
                cursor: pointer;
            }
            .form_contact{
                background-color: white;
                width: 70%;
                padding: 20px;
                border-radius: 0px 10px 10px 0px;
            }
        /* Config form elemests */
            .form_contact span{
                color: #616161;
            }
            .input_contact{
                width: 100%;
                padding: 10px;
                border: none;
                border: solid 1px rgb(172, 170, 170);
                margin-bottom: 50px;
                margin-top: 3px;
                border-radius: 5px;
                font-size: 11pt;
                color: #5c5c5c;
            }
            .input_contact:focus{
                outline: none;
                border: solid 1px rgb(18, 123, 194);
            }
            .btn_submit_form{
                width: 200px;
                padding: 10px;
                box-sizing: initial;
                font-size: 13pt;
                border-radius: 10px;
                border: none;
                background-color: rgb(28, 164, 255);
                color: white;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                transition: background-color 500ms;
            }
            .btn_submit_form:hover{
                background-color: rgb(60, 127, 172);
                cursor: pointer;
            }
        /* Config options contact */
            .grup_icons_options{
                text-align: center;
            }
            .icons-social{
                width: 50px;
                transition: width 400ms;
            }
            .icons-social:hover{
                width: 55px;
            }
            .icon-form{
                width: 100px;

            }
            .title_options_contact{
                margin-top: 30px;
                margin-bottom: 30px;
                text-align: center;
                color: white;
            }
            .sub_title_options{
                margin-bottom: 30px;
                color: white;
                text-align: center;
            }
        /* Configuração atendimentos */
            .atendimento_opitions{
                margin-top: 50px;
            }
            .paragrafo_atendimento{
                display: inline;
                color: white;
                
            }
            .enderecos{
                margin-top: 20px;
                color: white;
            }

/***********************************
******5 parte (last_element) *******
**********************************
*/
    footer{
        width: 100%;
        padding: 50px;
        box-shadow: 1px 1px 7px rgba(124, 124, 124, 0.26);
        background-color: rgb(255, 255, 255);
    }
        /* logo last bar */
            .logo_div_last_bar{
                text-align: center;
            }
            .logo_last_bar{
                width: 90px;
                border-radius: 50px;
            }
        /* Title last bar */
            .desc_last_bar{
                text-align: center;
                margin-bottom: 20px;
            }
            .title_last_bar{
                color: rgb(59, 59, 59);
                font-family: 'Quicksand-VariableFont'; 
            }
            .sub_title_last_bar{
                color: rgb(0, 0, 0);
                font-size: 14pt;
                font-family: monospace;
            }
        /* Tags style */
            .div_tags{
                text-align: center;
                text-decoration: none;
            }
            .tag{
                color: rgb(121, 121, 121);
            }
        /* font instace */
        @font-face {
            src: url(../fonts/Quicksand-VariableFont_wght.ttf);
            font-family: 'Quicksand-VariableFont';    
            font-weight: normal;
        } 



        .options-contact-mobile-part01{
            display: none;
        }
        .colum-img-about-mobile{
            display: none;
        }
        .btn_grup_services-mobile{
            display: none;
        }
        .btns_home_action-mobile{
            display: none;
        }
        .moblile-nav{
            display: none;
        }